input.form-control:focus{
    box-shadow: none;
    outline: none;
}
.main-header{
    padding: 40px 0;
    background-color: #deecff;
}
.main-header .row>div{
    align-items: center;
}
.main-header .navbar-brand{
    color: #6a6afc;
    font-weight: bold;
}
.main-header .shop-setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-header .shop-setting.notAuth{
    justify-content: flex-end;
}
.main-header .shop-setting>div{
    display: flex;
    justify-content: space-between;
}
.main-header .shop-setting.notAuth .wishlist{
    margin-right: 25px;
}
.main-header .shop-setting .main-icon{
    font-size: 26px;
    margin-right: 5px;
    color: #6a6afc;
}
.main-header .shop-setting a{
    display: flex;
    color: #303030;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -5px;
    transition: all .2s ease-in-out;
}
.main-header .shop-setting a:hover{
    text-decoration: none;
    color: #6a6afc;
}
.main-header .shop-setting span{
    color: #6a6afc;
    font-size: 12px;
}
.main-header .shop-setting .account{
    align-items: center;
}
.main-header .shop-setting .account img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid #fff;
}
.main-header .shop-setting .account .btn{
    background-color: transparent;
    border: none;
    color: #303030;
    font-size: 13px;
    font-weight: 500;
    padding: 0;
}
.main-header .shop-setting .account .btn:focus{
    box-shadow: none;
}
.main-header .shop-setting .account span{
    color: #6a6afc;
}
.main-header .shop-setting .account .dropdown-menu{
    border-radius: 2px;
    top: 5px;
}
.main-header .shop-setting .account .dropdown-menu a{
    font-size: 14px;
    font-weight: normal;
    color: #303030;
}
.main-header .shop-setting .account .dropdown-menu a:hover{
    color: #6a6afc;
}
.main-header .shop-setting .account .dropdown-menu a .account-icon{
    margin-right: 5px;
    font-size: 15px;
}