input.form-control:focus{
    box-shadow: none;
    outline: none;
}
.main-header{
    padding: 40px 0;
    background-color: #deecff;
}
.main-header .row>div{
    align-items: center;
}
.main-header .navbar-brand{
    color: #6a6afc;
    font-weight: bold;
}
.main-header .shop-setting{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-header .shop-setting>div{
    display: flex;
    justify-content: space-between;
}
.main-header .shop-setting .wishlist{
    margin-right: 25px;
}
.main-header .shop-setting .main-icon{
    font-size: 32px;
    margin-right: 5px;
    color: #6a6afc;
}
.main-header .shop-setting a{
    display: flex;
    color: #303030;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -5px;
    transition: all .2s ease-in-out;
}
.main-header .shop-setting a:hover{
    text-decoration: none;
    color: #6a6afc;
}
.main-header .shop-setting span{
    color: #6a6afc;
    font-size: 12px;
}