.order-product{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e9ef;
    margin-bottom: 15px;
}
.order-product .pro-img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.order-product .pro-img img{
    width: 100%;
    height: 100%;
}
.order-product .pro-info h4{
    color: #373f50;
    margin-bottom: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: inherit;
}
.order-product .pro-info h4:hover{
    color: #4e54c8;
}
.order-product .pro-info .price .aft-dis{
    color: #4e54c8 !important;
    font-size: 0.875rem;
}