.rating-stars span{
    color: #fea569;
    font-size: .75rem;
    display: flex;
    height: 100%;
    align-items: center;
}
body[dir="rtl"] .slick-slide .rating-stars span{
    flex-direction: row-reverse;
}