.shopping-cart{
    padding: 100px 0;
}
.back-btn,
.update-btn{
    color: #fff;
    background-color: #7979ff;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(56,56,189,0.9);
}
.back-btn:hover,
.update-btn:hover{
    color: #fff;
    background-color: #3838bd;
}
.update-icon{
    color: #fff;
    margin-right: 5px;
}
.cart-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}