.shopping-cart{
    padding: 50px 0 100px;
}
/* .cart-bottom{
    display: block
} */
.shopping-cart .panel-body{
    display: flex;
    flex-direction: column;
    align-items: center
}
.shopping-cart .panel-body img{
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}
.shopping-cart .panel-body p{
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #3131D4
}
.back-btn,
.update-btn{
    color: #fff;
    background-color: #7979ff;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(56,56,189,0.9);
}
.back-btn:hover,
.update-btn:hover{
    color: #fff;
    background-color: #3838bd;
}
.update-icon{
    color: #fff;
    margin-right: 5px;
}
.cart-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}
.shopping-cart .cart-bottom{
    bottom: -50px;
}