.pro-details{
    padding: 50px 0;
}
.pro-details h4{
    color: #373f50;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-weight: 500;
    border-bottom: 1px dashed #ccc;
}
.pro-details .brief-details{
    color: #373f50;
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
}
.pro-details .brief-details p{
    margin-bottom: 0;
    font-size: 13px;
    color: #586175;
}
.pro-details .spec{
    display: flex;
    padding: 20px 0;
    color: #373f50;
    border-bottom: 1px dashed #ccc;
    font-weight: 500;
    font-size: 15px;
}
.pro-details .spec span{
    display: block;
}
.pro-details .spec .spec-value span{
    margin-left: 15px;
    font-weight: normal;
}
.pro-details .share{
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
}
.pro-details .share a{
    margin-right: 20px;
    font-size: 20px;
    color: #373f50;
    transition: color .2s ease-in-out;
}
.pro-details .share a:hover{
    color: #6a6afc;
}
.pro-details .share .btn{
    color: #373f50;
    padding: 0 0 0 15px;
    border-left: 1px solid #ccc;
    border-radius: 0;
}
.pro-details .share .btn:hover .icon{
    color: #6a6afc;
}
.pro-details .share .btn .icon{
    margin-right: 10px;
    font-size: 20px;
    color: #aaa;
    transition: color .2s ease-in-out;
}
.pro-details .payment{
    padding: 20px 0;
}
.pro-details .payment img{
    margin-right: 5px;
}
.pro-details .payment img:last-child{
    margin-right: 0;
}
.pro-details .card{
    padding: 20px;
}
.pro-details .card .price .aft-dis{
    margin-right: 5px;
    color: #696ED0;
    font-size: 24px;
}
.pro-details .card .price .bef-dis{
    color: #aaa;
    font-size: 12px;
    text-decoration: line-through;
}
.pro-details .card .color,
.pro-details .card .size,
.pro-details .card .quantity{
    padding-top: 20px;
}
.pro-details .custom-control{
    padding-left: 0;
    margin-right: 10px;
    margin-bottom: 0;
}
.pro-details .custom-option-label {
    position: relative;
    min-width: 2rem;
    height: 2rem;
    margin-bottom: 0;
    padding-right: .375rem;
    padding-left: .375rem;
    transition: color 0.2s ease-in-out,border-color 0.2s ease-in-out;
    border: 1px solid #e3e9ef;
    border-radius: .1875rem;
    color: #4b566b;
    font-size: .75rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.75rem;
    cursor: pointer;
}
.pro-details .custom-option-color {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -.75rem;
    margin-left: -.75rem;
    background-position: top left;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
}
.pro-details .custom-control input:hover ~ .custom-option-label{
    border-color: #6a6afc;
    color: #6a6afc;
}
.pro-details .custom-control input:checked ~ .custom-option-label{
    border-color: #6a6afc;
    color: #6a6afc;
}
.pro-details .card .input-group{
    width: 150px;
}
.pro-details .card .form-control{
    text-align: center;
}
.pro-details .card .input-group-text{
    background-color: #fff;
}
.pro-details .card .input-group-text:hover{
    background-color: #eee;
}
.pro-details .card .add-btn{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.add-btn .add-cart{
    background-color: #6a6afc;
    color: white;
    font-weight: 500;
    font-size: 12px;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(106,106,252,0.9);
}
.add-btn .add-cart:hover{
    background-color: #232363;
    box-shadow: none;
}
.add-btn .add-cart .cart-icon{
    margin-right: 5px;
    font-size: 18px;
}

.pro-details .nav{
    border-bottom: 1px solid #eee;
    margin: 50px 0 30px;
}
.pro-details .nav .nav-item.nav-link{
    color: #232363;
    font-weight: 500;
    padding: 5px 15px;  
}
.pro-details .nav .nav-item.nav-link.active{
    background-color: #232363;
    color: #fff;
}