.arrow-btn.btn{
    position: absolute;
    top: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: #6a6afc;
    border-color: transparent;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}
.arrow-btn.btn:hover{
    color: #f34770;
}
.arrow-btn.btn:focus{
    background-color: #6a6afc;
    border-color: #6a6afc;
}
.arrow-btn.btn.next{
    right: 0;
}
.arrow-btn.btn.prev{
    right: 35px;
}
.arrow-btn.btn .arrow-icon{
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}