.slider{
    background-color: #F6F9FC;
    padding: 50px 0;
}
.slider .slider-content .item{
    display: flex;
    justify-content: space-around;
}
.slider .slider-content .item>div{
    padding: 25px;
    font-size: 18px;
    color: #232363;
    font-weight: normal;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slider .slider-content .item h3{
    font-weight: bold;
    font-size: 36px;
    margin: 5px 0;
}
.slider .slider-content .item p{
    margin: 0;
}
.slider .slider-content .item .btn{
    background-color: #232363;
    color: #fff;
    margin-top: 15px;
    padding: 10px 30px;
}
.slider .slider-content .item img{
    max-width: 500px;
    height: auto;
}
.slider .slider-content .owl-theme .owl-dots .owl-dot:focus{
    box-shadow: none;
    outline: none;
}
.slider .slider-content .slick-dots li{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.slider .slider-content .slick-dots li button,
.slider .slider-content .owl-theme .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
    margin: 5px;
    background-color: #9999f7;
    display: inline-block;
    border-radius: 5px;
}
.slider .slider-content .slick-dots li button::before{
    font-size: 0;
}
.slider .slider-content .slick-dots li.slick-active button,
.slider .slider-content .owl-theme .owl-dots .owl-dot.active span{
    width: 25px;
    background-color: #232363;
}
.slider .slider-content .slick-dots{
    width: max-content;
    display: flex;
}
@media (max-width: 767.99px){
    .slider .slider-content .item{
        flex-direction: column-reverse;
    }
    .slider .slider-content .item>div{
        padding: 0;
        margin-top: 25px;
    }
    .slider .slider-content .item .btn{
        margin: 15px 0 15px;
    }
    .slider .slider-content .item img{
        margin: 0 auto;
    }
}


/**RTL**/
body[dir="rtl"] .slider .leftIcon{
    /* transform: rotate(180deg); */
}
body[dir="rtl"] .slider .slider-content .item{
    flex-direction: row-reverse;
    text-align: right;
}
body[dir="rtl"] .slider .slider-content .slick-dots{
    flex-direction: row-reverse;
    right: 0;
}
