.new-product{
    padding: 20px;
    background-image: linear-gradient( to right, #d1d1ff, #fff);
    margin-bottom: 20px;
    border: 1px solid #d1d1ff;
    position: relative;
}
.new-product .card{
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    border: none;
}
.new-product .pro-img img{
    width: 115px;
    height: 115px;
}
.new-product .pro-info .categ{
    color: #aaa;
    font-size: 12px;
    transition: all .2s ease-in-out;
}
.new-product .pro-info .pro-name{
    color: #4b566b;
    font-size: 14px;
    font-weight: 500;
    transition: all .2s ease-in-out;
}
.new-product .pro-info .pro-name:hover{
    color: #FE696A;
}
.new-product .pro-info .price .aft-dis{
    margin-right: 5px;
    color: #696ED0;
    font-size: 16px;
}
.new-product .pro-info .price .bef-dis{
    color: #aaa;
    font-size: 12px;
    text-decoration: line-through;
}
.new-product .badges{
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
}
.new-product .badges .status{
    color: white;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    border-radius: .175rem;
    padding: .25em .625em;
    font-size: 75%;
    font-weight: normal;
    margin-bottom: 5px;
    overflow: hidden;
}
.new-product .status.badge-warning{
    left: auto;
    right: 5px;
    box-shadow: 0 0.5rem 1.125rem -0.275rem rgba(255,193,7,0.9);
}
.new-product .status.badge-primary{
    box-shadow: 0 0.5rem 1.125rem -0.275rem rgba(0,123,255,0.9);
    background-color: #69b3fe;
}
.new-product .status.badge-danger{
    box-shadow: 0 0.5rem 1.125rem -0.275rem rgba(243,71,112,0.9);
    background-color: #f34770;
}
/***/
.new-product .fav{
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 18px;
    background-color: #f7f8f9;
    color: #7d879c;
    padding: 2px 5px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    z-index: 1000;
}
.new-product .fav:hover{
    color: #FE696A;
    cursor: pointer;
}
/***/