.menu{
    border-top: solid 1px #f2f2f2;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}
.menu .menu-content{
    display: flex;
}
.menu .categories{
    position: relative;
    transition: all .3s ease-in-out;
}
.menu .main-category{
    display: flex;
    align-items: center;
    color: #0e0e33;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;
}
.menu .main-category .bar-icon{
    margin-right: 15px;
    font-size: 25px;
}
.menu .cate-list{
    position: absolute;
    top: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 45rem;
    border-radius: 5px;
    background-color: #fff;
    border-color: transparent;
    transition: all .3s ease-in-out;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    z-index: 100;
    display: none;
}
.menu .cate-list .category-list{
    width: 240px;
    padding: 1.5rem 1rem 0;
}
.menu .cate-list .category-list>img{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .4375rem!important;
}
.menu .cate-list .category-list h6{
    color: #373f50;
    margin-bottom: 1rem;
}
.menu .cate-list .category-list .sub-cate a{
    color: #4b566b;
    font-size: .875rem;
    font-weight: 400;
    transition: color .2s ease-in-out;
}
.menu .cate-list .category-list .sub-cate a:hover{
    color: #6a6afc;
}
.menu .cate-list .list-group-item.active{
    background-color: #6a6afc;
}
.menu .navbar{
    padding: 0;
}
.menu .navbar .navbar-nav .nav-link{
    margin-right: 25px;
    color: #232363;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    padding: 15px 5px;
    transition: all .2s ease-in-out;
}
.menu .navbar .navbar-nav .nav-link.active{
    color: #6a6afc;
    border-color: #6a6afc;
}
.menu .navbar .navbar-nav .nav-link:hover{
    color: #6a6afc;
    border-color: #6a6afc;
}