footer .main-footer{
    background-color: #373F50;
    color: #fff;
    padding: 50px 0;
    font-size: 14px;
}
footer .main-footer h4{
    margin-bottom: 30px;
}
footer .main-footer .info .icon{
    font-size: 20px;
    color: #6a6afc;
    margin-right: 10px;
}
footer .main-footer .info>div{
    margin-bottom: 10px;
}
footer .main-footer .info>div:last-child{
    margin-bottom: 0;
}
footer .main-footer .account-links{
    display: flex;
    flex-direction: column;
}
footer .main-footer .account-links a{
    color: rgb(206, 206, 206);
    font-size: 14px;
    transition: color .2s ease-in-out;
    margin-bottom: 5px;
    width: max-content;
}
footer .main-footer .account-links a:hover{
    color: #6a6afc;
}
footer .social{
    display: flex;
    margin: 15px 0;
}
footer .social a{
    margin-right: 20px;
    font-size: 20px;
    color: #fff;
    transition: color .2s ease-in-out;
}
footer .social a:hover{
    color: #6a6afc;
}
footer .social a:last-child{
    margin-right: 0;
}
footer .newsletter p{
    font-weight: normal;
}
footer .newsletter .form-control{
    background-color: rgb(15, 15, 15);
    border-color: #3F3F3F;
}
footer .newsletter .btn{
    background-color: #6a6afc;
    box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(106,106,252,0.9);
    color: #fff;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}
footer .newsletter .btn:hover{
    background-color: #232363;
    box-shadow: none;
}
footer .copy{
    background-color: #2B3445;
    padding: 10px 0;
}
footer .copy .row>div{
    align-items: center;
}
footer .copy p{
    font-size: 12px;
    color: rgba(255, 255, 255, .5);
    margin-bottom: 0;
    height: 100%;
    line-height: 200%;
}
footer .copy .payment{
    display: flex;
    justify-content: flex-end;
}
footer .copy .payment img{
    width: 26px;
    height: 26px;
    margin-right: 10px;
}
footer .copy .payment img:last-child{
    margin-right: 0;
}