.btn:focus{
  box-shadow: none;
  outline: none;
}
a:hover{
  text-decoration: none;
}
.dropdown-menu{
  top: 10px;
  border-radius: 0;
  box-shadow: 0 7px 21px rgba(83,92,105,.12), 0 -1px 6px 0 rgba(83,92,105,.06);
  padding: .5rem;
  border-color: transparent;
}
.dropdown-menu::before{
  background-color: #fff;
  content: '';
  height: 15px;
  position: absolute;
  left: 25px;
  top: -5px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  width: 15px;
  z-index: -1;
}
.dropdown-menu .dropdown-item{
  padding: .25rem;
}
