.offers{
    padding: 50px 0;
}
.deals-card{
    padding: 85px 50px 35px;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
    border-radius: 5px;
    border-color: transparent;
}
.deals-card .title {
    position: absolute;
    top: 27px;
    left: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}
.offers .owl-carousel{
    position: static;
}
.offers .owl-theme .owl-nav{
    position: absolute;
    top: 15px;
    right: 40px;
    margin-top: 0;
}
.offers .owl-theme .owl-nav button{
    font-size: 28px;
    /* padding: 10px; */
    margin: 5px;
    color: #666666;
    transition: all 200ms ease;
}
.offers .owl-theme .owl-nav button:hover{
    background-color: transparent;
    color: #FE696A;
}
.offers .owl-theme .owl-nav button:focus{
    box-shadow: none;
    outline: none;
}
.offers .offers-cards{
    position: relative;
}
.offers .offers-cards .owl-nav {
    display: block !important;
    top: -10px;
    right: 10px;
}